
.unorderedList{
    list-style-type: none;
    padding:0;
}
.Logo{
    background-color: rgb(58,58,81);
    padding:10px;
    height:40px;
    font-size: 2rem;
    text-align: center;
}
.list{
    margin:8px 0 8px 16px;
        padding:9px;
        height:100%;
        font-size: 1.6rem;
   

}
.activeList{
    margin:8px 0 8px 0;
    padding:16px;
    background-color:rgb(58,58,81);
    border-left:5px solid rgb(163,160,251);
    
    font-size: 1.6rem;
}

